<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>投票系统</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexPost</display-name>
    <servlet-name>IndexPost</servlet-name>
    <servlet-class>post.IndexPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPost</servlet-name>
    <url-pattern>/IndexPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPost</display-name>
    <servlet-name>LoginPost</servlet-name>
    <servlet-class>post.LoginPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPost</servlet-name>
    <url-pattern>/LoginPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPost</display-name>
    <servlet-name>MainPost</servlet-name>
    <servlet-class>post.MainPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPost</servlet-name>
    <url-pattern>/MainPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPost</display-name>
    <servlet-name>RegisterPost</servlet-name>
    <servlet-class>post.RegisterPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPost</servlet-name>
    <url-pattern>/RegisterPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotePost</display-name>
    <servlet-name>VotePost</servlet-name>
    <servlet-class>post.VotePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotePost</servlet-name>
    <url-pattern>/VotePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVotePost</display-name>
    <servlet-name>AddVotePost</servlet-name>
    <servlet-class>post.AddVotePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVotePost</servlet-name>
    <url-pattern>/AddVotePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePost</display-name>
    <servlet-name>DeletePost</servlet-name>
    <servlet-class>post.DeletePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePost</servlet-name>
    <url-pattern>/DeletePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPost</display-name>
    <servlet-name>QueryPost</servlet-name>
    <servlet-class>post.QueryPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPost</servlet-name>
    <url-pattern>/QueryPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePost</display-name>
    <servlet-name>UpdatePost</servlet-name>
    <servlet-class>post.UpdatePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePost</servlet-name>
    <url-pattern>/UpdatePost</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>LoginPost2</display-name>
    <servlet-name>LoginPost2</servlet-name>
    <servlet-class>post.LoginPost2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPost2</servlet-name>
    <url-pattern>/LoginPost2</url-pattern>
  </servlet-mapping>
  
  
</web-app>